body{
    background-color: rgb(226, 226, 226);
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

#content{
    align-items: center;
    margin:0px;
}

#judge-text{
    white-space: pre-line;
}

.person{
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
    user-select: none;

}

.person_name{
    position:relative;
    right: 15px;
    bottom:15px;
    font-size: 190%;
    font-weight: 700;
    width: 45px;
    height:45px;
    border: 2px solid rgb(98, 98, 98);
    text-align: center;
    background-color: aliceblue;
    border-radius: 30px;
}

.person_checked_before{
    display: none;
}

.person_checked_after{
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    transform: rotate(-10deg);
    font-size: 170%;
    font-weight: 700;
    margin-left: 5px;
    text-align: center;
    padding: 2px;
}

.taken_card_window{
    position: absolute;
    width: 60px;
    height: 45px;
    padding: 2px;
    left: 85%;
    top: 70%;
    text-align: center;
    border-radius: 5px;
}

.person_takenCard_before{
    background-color: rgb(33, 22, 96);
    color: rgb(220, 218, 218);
    border: solid 2px rgb(254, 253, 253);
}

.person_takenCard_after{
    background-color: rgb(255, 255, 49);
    font-weight: 900;
    color: rgb(45, 13, 13);
    border: solid 2px rgb(26, 26, 26);
}

.deadState_window{
    position: absolute;
    width: 60px;
    height: 25px;
    padding: 2px;
    left: 85%;
    top: -5%;
    text-align: center;
    border-radius: 5px;
    font-weight: 900;
    border: solid 2px rgb(26, 26, 26);
}

.person_alive{
    background-color: rgb(255, 255, 255);
    color: rgb(45, 13, 13);
}

.person_dead{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 252, 252);
}

.person_detention{
    background-color: rgb(87, 2, 98);
    color: rgb(255, 255, 255);
}

.person_dead_mark{
    position:absolute;
    width: 50px;
    height: 50px;
    left: -15px;
    bottom: 60px;
    opacity: 0.8;
}

.hover_big:hover{
    transform: scale(1.1);
}


:root {
    --A-color: #f75353; 
    --B-color: #5356f7;
    --C-color: #53f7ab;
    --D-color: #f7b353;
    --E-color: #f7e953;
    --F-color: #f753ef;
    --G-color: #f8ace1;
    --H-color: #adf753;
    --I-color: #53d1f7;
    --J-color: #f77453;
}

#A { --item-color: var(--A-color); }
#B { --item-color: var(--B-color); }
#C { --item-color: var(--C-color); }
#D { --item-color: var(--D-color); }
#E { --item-color: var(--E-color); }
#F { --item-color: var(--F-color); }
#G { --item-color: var(--G-color); }
#H { --item-color: var(--H-color); }
#I { --item-color: var(--I-color); }
#J { --item-color: var(--J-color); }

.person > div{
    position: relative;
    border:double 5px black;
    width: 300px;
    height: 100px;
    margin: 10px;
    border-radius: 3px;
    margin-top: 30px;
    background-color: var(--item-color); 
}

.person > div:hover{
    border: 5px solid black;
}

.person_dead_fillter{
    position:absolute;
    background-color: #363636bf;
    width: 100%;
    height: 100%;
}